# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
venv/
cvenv/
ENV/
env/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media and Images
media/
qr_codes/
staticfiles/
*.png
*.PNG
*.jpg
*.JPG
*.jpeg
*.JPEG
*.webp
*.gif
*.bmp
*.ico

# Environment
.env
.env.local
.env.production

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db